.movie__data {
  display: grid;
  padding: 2rem;
  gap: 1rem;
  max-width: 20rem;
  margin: 1rem;
}

.review__stars {
  display: flex;
  gap: 7.5rem;
}

.movie__box {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 3rem;
}

.movie__launch {
  margin-left: auto;
}

.movie__title {
  text-align: center;
}

.movie__interactions {
  display: flex;
  gap: 4.9rem;

  & .pi.pi-heart-fill {
    cursor: pointer;
  }

  & .pi.pi-eye {
    cursor: pointer;
  }

  & .pi.pi-thumbs-down-fill {
    cursor: pointer;
  }
}
